# Chipotle data set from github

In [1]:
url="https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

In [2]:
# Import the necessary libraries
import pandas as pd

In [4]:
#Import the dataset from the given url
#Assign it to a variable called chipo.
chipo=pd.read_csv(url,sep='\t')

In [7]:
chipo.head(2)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39

In [12]:
chipo['item_price']=chipo['item_price'].str.replace("$","")
chipo['item_price']=pd.to_numeric(chipo['item_price'])

In [14]:
#What is the price of each item?
#print a data frame with only two columns item_name and item_price
chipo.groupby('item_name')['item_name','item_price'].mean().head(2)

                   item_price
item_name
6 Pack Soft Drink    6.610185
Barbacoa Bowl       10.187273

In [16]:
#Sort by the name of the item
chipo.sort_values("item_name")

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
3422,1373,1,6 Pack Soft Drink,[Coke],6.49
553,230,1,6 Pack Soft Drink,[Diet Coke],6.49
1916,774,1,6 Pack Soft Drink,[Diet Coke],6.49
1922,776,1,6 Pack Soft Drink,[Coke],6.49
1937,784,1,6 Pack Soft Drink,[Diet Coke],6.49
3836,1537,1,6 Pack Soft Drink,[Coke],6.49
298,129,1,6 Pack Soft Drink,[Sprite],6.49
1976,798,1,6 Pack Soft Drink,[Diet Coke],6.49
1167,481,1,6 Pack Soft Drink,[Coke],6.49
3875,1554,1,6 Pack Soft Drink,[Diet Coke],6.49
1124,465,1,6 Pack Soft Drink,[Coke],6.49
3886,1558,1,6 Pack Soft Drink,[Diet Coke],6.49
2108,849,1,6 Pack Soft Drink,[Coke],6.49
3010,1196,1,6 Pack Soft Drink,[Diet Coke],6.49
4535,1803,1,6 Pack Soft Drink,[Lemonade],6.49
4169,1664,1,6 Pack Soft Drink,[Diet Coke],6.49
4174,1666,1,6 Pack Soft Drink,[Coke],6.49
4527,1800,1,6 Pack Soft Drink,[Diet Coke],6.49
4522,1798,1,6 Pack Soft Drink,[Diet Coke],6.49
3806,1525,1,6 Pack Soft Drink,[Sprite],6.49
2389,949,1,6 Pack Soft Drink,[Coke],6.49
3132,1248,1,6 Pack Soft Drink,[Diet Coke],6.49
3141,1253,1,6 Pack Soft Drink,[Lemonade],6.49
639,264,1,6 Pack Soft Drink,[Diet Coke],6.49
1026,422,1,6 Pack Soft Drink,[Sprite],6.49
...,...,...,...,...,...
2996,1192,1,Veggie Salad,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
3163,1263,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.49
4084,1635,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.49
1694,686,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.49
2756,1094,1,Veggie Salad,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",8.49
4201,1677,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",11.25
1884,760,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
455,195,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
3223,1289,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
2223,896,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, Fajita Vegetables]",8.75
2269,913,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75
4541,1805,1,Veggie Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",8.75
3293,1321,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
960,394,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
1316,536,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75
2156,869,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
4261,1700,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
295,128,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",11.25
4573,1818,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75
2683,1066,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
496,207,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce, Guacamole...",11.25
4109,1646,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
3889,1559,2,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",16.98
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

In [20]:
#What was the quantity of the most expensive item ordered?
chipo.sort_values('item_price').max()
#chipo.sort_values("item_price", ascending = False).head(1)

order_id                   1834
quantity                     15
item_name     Veggie Soft Tacos
item_price                44.25
dtype: object

In [29]:
#How many times were a Veggie Salad Bowl ordered?
#chipo.query('item_name=="Veggie Salad Bowl"').shape[0]
len(chipo.query('item_name=="Veggie Salad Bowl"'))

18

In [31]:
#How many times people orderd more than one Canned Soda?
chipo.query('item_name=="Canned Soda" & quantity>1').shape[0]

20

# euro2 data set

In [3]:
#import packages
import pandas as pd
import numpy as np

In [4]:
#load a dataset
#Assign it to a variable called euro12
euro=pd.read_csv("D://Files//euro2.txt",sep=',')
euro.head(5)

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech\tRepublic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19

In [5]:
#Select only the Goal column
euro['Goals'].head(3)

0    4
1    4
2    4
Name: Goals, dtype: int64

In [6]:
#How many team participated in the Euro2012?
euro.shape

(16, 35)

In [7]:
#What is the number of columns in the dataset?
euro.columns.shape

(35,)

In [11]:
#View only the columns Team, Yellow Cards and Red Cards and
#assign them to a dataframe called discipline
discipline=euro[["Team","Red	Cards","Yellow	Cards"]]
discipline.head(2)

              Team  Red\tCards  Yellow\tCards
0          Croatia           0              9
1  Czech\tRepublic           0              7

In [12]:
#Sort the teams by Red Cards, then to Yellow Cards
euro.sort_values(["Red	Cards","Yellow	Cards"]).head(2)

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17

In [14]:
#Calculate the mean Yellow Cards given per Team
euro['Yellow	Cards'].mean()

7.4375

In [ ]:
#rename the variable name
#euro=euro['Yellow	Cards'].rename(columns={'Yellow	Cards':'Yellowcards'})

In [18]:
#Filter teams that scored more than 6 goals
euro.query('Goals>6')[['Team','Goals']]

       Team  Goals
5   Germany     10
13    Spain     12

In [59]:
#Select the teams that start with G
euro[euro.Team.str.startswith('G')]
#f=euro['team']
#for i in f:
 #   if i[0]=='G':
 #       print(i)

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20

In [60]:
#Select the first 7 columns
euro.iloc[: , 0:7]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.9%,16.0%,32
1,Czech\tRepublic,4,13,18,41.9%,12.9%,39
2,Denmark,4,10,10,50.0%,20.0%,27
3,England,5,11,18,50.0%,17.2%,40
4,France,3,22,24,37.9%,6.5%,65
5,Germany,10,32,32,47.8%,15.6%,80
6,Greece,5,8,18,30.7%,19.2%,32
7,Italy,6,34,45,43.0%,7.5%,110
8,Netherlands,2,12,36,25.0%,4.1%,60
9,Poland,2,15,23,39.4%,5.2%,48
10,Portugal,6,22,42,34.3%,9.3%,82
11,Republic\tof\tIreland,1,7,12,36.8%,5.2%,28
12,Russia,5,9,31,22.5%,12.5%,59
13,Spain,12,42,33,55.9%,16.0%,100
14,Sweden,5,17,19,47.2%,13.8%,39
15,Ukraine,2,7,26,21.2%,6.0%,38

In [ ]:
#Select all columns except the last 3
euro.iloc[: , :-3]

In [21]:
euro.columns

Index(['Team', 'Goals', 'Shots\ton\ttarget', 'Shots\toff\ttarget',
       'Shooting\tAccuracy', '%\tGoals-to-shots',
       'Total\tshots\t(inc.\tBlocked)', 'Hit\tWoodwork', 'Penalty\tgoals',
       'Penalties\tnot\tscored', 'Headed\tgoals', 'Passes',
       'Passes\tcompleted', 'Passing\tAccuracy', 'Touches', 'Crosses',
       'Dribbles', 'Corners\tTaken', 'Tackles', 'Clearances', 'Interceptions',
       'Clearances\tline', 'Clean\tSheets', 'Blocks', 'Goals\tconceded',
       'Saves\tmade', 'Saves-to-shots\tratio', 'Fouls\tWon', 'Fouls\tConceded',
       'Offsides', 'Yellow\tCards', 'Red\tCards', 'Subs\ton', 'Subs\toff',
       'Players\tUsed'],
      dtype='object')

In [22]:
#Present only the Shooting Accuracy from England, Italy and Russia
#euro.loc[euro.Team.isin(['England', 'Italy', 'Russia']), 
 #          ['Team','Shooting Accuracy']]
euro.query('Team=="England" or Team=="Italy" or Team=="Russia"')
                              [['Team','Shooting\tAccuracy']]

       Team Shooting\tAccuracy
3   England              50.0%
7     Italy              43.0%
12   Russia              22.5%